@inject IMenuService MenuService
<ul id="js-nav-menu" class="nav-menu"> 
    @foreach (var cat in MenuService.Menu().GroupBy(g => g.Category))
    {
        <li class="nav-title py-2 my-0" style="color:#fdfcffab" localize="@cat.Key">@cat.Key</li>
        foreach (var m in MenuService.Menu().OrderBy(o => o.Order).Where(t => t.Category == cat.Key))
        {
            <li class="open">
                <a href="@m.Url" title="@m.Title" data-filter-tags="@m.Title">
                    <i class="fa fa-@m.Icon"></i>
                    <span class="nav-link-text" loc="true">@m.Title</span>
                    @*@if (group.Span.HasValue())
                        {
                            <span class="@group.Span.Class">@group.Span.Text</span>
                        }*@
                </a>
            </li>
        }
    }

</ul>