@using Toltek.Services.Login
@inject ITenancyOptions<InfoOptions> InfoOptions
@inject ITenancyOptions<LoginOptions> LoginOptions
@{
    //var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    //var l = requestCulture.RequestCulture.UICulture.Name;
    //var lang = CompanyApi.Languages.FirstOrDefault(t => t.Code == l);
}
@if (LayoutOptions.Value.User)
{
    <div>
        <a href="#" data-toggle="dropdown" title="drlantern&commat;gotbootstrap.com" class="header-icon d-flex align-items-center justify-content-center ml-2">
            <img src="@(User.Picture(Client, Storage))" class="profile-image rounded-circle" alt="@User.FullName()" />
            @*<span class="ml-1 mr-1 text-truncate text-truncate-header hidden-xs-down">@User.FullName()</span>
                <i class="ni ni-chevron-down hidden-xs-down"></i>*@
        </a>
        <div class="dropdown-menu dropdown-menu-animated dropdown-lg">

            <div class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top">
                <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
                    <span class="mr-2">
                        <img src="@(User.Picture(Client, Storage))"
                             class="rounded-circle profile-image"
                             alt="@User.FullName()" />
                    </span>
                    <div class="info-card-text">
                        <div class="fs-lg text-truncate text-truncate-lg">@User.FullName()</div>
                        <span class="text-truncate text-truncate-md opacity-80">@User.Email()</span>
                    </div>
                </div>
            </div>
            <div class="dropdown-divider m-0"></div>
            <a asp-controller="Account" asp-action="Index" class="dropdown-item">
                <span loc="true">Profilim</span>
            </a>
            @if (LoginOptions.Value.ForgotPasswordEnable)
            {
                <a asp-controller="Account" asp-action="ChangePassword"  class="dropdown-item">
                    <span loc="true"> Parola Değiştir</span>
                </a>
            }
            @*<div class="dropdown-divider m-0">  </div>
            <a asp-controller="Home" asp-action="CleanUp" class="dropdown-item">
                <span loc="true">
                    Yenile
                </span>
            </a>*@
            @*<a href="#" class="dropdown-item" data-action="app-reset">
                    <span data-i18n="drpdwn.reset_layout" loc="true">Görünümü Yenile</span>
                </a>*@
            @*<a href="#" class="dropdown-item" data-toggle="modal" data-target=".js-modal-settings">
                    <span data-i18n="drpdwn.settings" loc="true">Ayarlar</span>
                </a>*@
            <div class="dropdown-divider m-0"></div>

            <a href="#" class="dropdown-item" data-action="app-fullscreen">
                <span data-i18n="drpdwn.fullscreen" loc="true">Tam Ekran</span>
                <i class="float-right text-muted fw-n">F11</i>
            </a>
            <a href="#" class="dropdown-item" data-action="app-print">
                <span data-i18n="drpdwn.print" loc="true">Yazdır</span>
                <i class="float-right text-muted fw-n">Ctrl + P</i>
            </a>
            @*<div class="dropdown-multilevel dropdown-multilevel-left">
                    <div class="dropdown-item">
                        <span loc="true">Dil</span>
                        @if (lang != null)
                        {
                            <i class="float-right text-muted fw-n">@lang.Name</i>
                        }
                    </div>
                    <div class="dropdown-menu">
                        @foreach (var item in CompanyApi.Languages)
                        {
                            <a asp-controller="Home" asp-action="SetLanguage" asp-route-id="@item.LanguageId" asp-route-culture="@(item.Code)" asp-route-returnUrl="@UriHelper.GetDisplayUrl(Context.Request)"
                               class="dropdown-item @(lang.LanguageId == item.LanguageId?"active":"")">
                                @item.Name
                            </a>
                        }
                    </div>
                </div>*@
            <div class="dropdown-divider m-0"></div>
            <a class="dropdown-item fw-500 pt-3 pb-3" asp-controller="Account" asp-action="Logout">
                <span data-i18n="drpdwn.page-logout" loc="true">Çıkış Yap</span>
                <span class="float-right fw-n">@LoginOptions.Value.LoginFormat</span>
            </a>

        </div>
    </div>
}
